.customNavbar {
  background-color: #ffcc00;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.customNavbarBrand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navLeft {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 20px;
}

.customNavLink {
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 12px;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  text-decoration: none;
}

.customNavLink:hover {
  color: #fff;
  background: #222;
  border-radius: 5px;
  text-decoration: underline;
}

.activeLink {
  color: #fff;
  background: #444;
  border-radius: 5px;
  padding: 6px 12px;
  text-decoration: none;
}

.navToggle {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .navLeft {
    display: none;
  }
  .navToggle {
    display: block;
  }
}